
.inputMatrix-container {
    display: flex;

}

.heading {
    font-size: 17px;
    font-weight: bold;
    margin: 5px;
}

.matrix-order {
    color: blueviolet;
    font-size: 19px;
    max-height: 20px;
    max-width: 20px;
}